.desctop_hide {
  display: none;
}
@media screen and (max-width: $md) {
  .mobile_hide {
    display: none;
  }
  .desctop_hide {
    display: block;
  }
  .burger {
    margin-right: 10px;
    position: absolute;
    right: 10px;
    text-align: left;
    top: 26px;
    z-index: 101;
    @include for-size (xs) {
      top: 13px;
    }
    .burger-icon {
      display: inline-block;
      width: 31px;
      height: 23px;
      background-image: url('../img/burger.png');
    }
    &.is-active {
      top: 23px;
      right: 12px;
      .burger-icon {
        @include burger-to-cross;
        width: 22px;
        height: 22px;
        background-image: url('../img/burger-2.png');
      }
      .burger-icon::before, .burger-icon::after {
        background: #ffffff;
      }
    }
  }
  .mobile_menu_container {
    background: #FFF;
    
    font-size: 0;
    max-width: 375px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    height: 93vh;
    @include transform (translateX(110%));
    @include transition(all, .2s, ease-in-out);
    will-change: transform, opacity;
    nav {
      margin-bottom: 40px;
    }
    li {
      position: relative;
    }
    a {
      display: block;
      z-index: 10;
    }
    .menu-item-children{
      position: relative;
      &:before{
        position: absolute;
        top: 17px;
        right: 30px;
        font-size: 16px;
        font-family: 'fontawesome';
        content: '\f105';
      }
      
    }
    .sub-anchor {
      background: lighten($menu, 5%);
      cursor: pointer;
      height: 30px;
      position: absolute;
      right: 0;
      top: 0;
      width: 40px;
      z-index: 20;
      &:hover {
        background: darken($menu, 5%);
      }
      &:before {
        color: #ffffff;
        font-size: 20px;
        @include center();
      }
    }
    .sub-menu {
      display: none;
      a {
        color: #ffffff;
        font-size: 13px;
        padding: 10px 40px;
        &:hover {
          background: lighten($menu, 10%);
        }
      }
      .sub-anchor {
        // display: none !important;
      }
      .sub-menu {
        // display: none !important;
        a {
          padding: 10px 60px;
        }
      }
    }
    .level_a {
        li {
        
         a {
          color: #1D1D1B;
          font-size: 18px;
          line-height: 30px;
          padding-left: 25px;
          padding-top: 9px;
          padding-bottom: 9px;
          text-transform: uppercase;
          display: block;
          font-family: 'Rooney Pro';
          &:hover {
            background: lighten($a, 5%);
            text-decoration: none;
          }
        }
      }
    }
    .searchformsub{
      width: 90%;
      margin: 0 auto 40px auto;
      .inner{
        position: relative;
        border-radius: 30px;
        
        input{
          color: $b;
          border-radius: 30px;
          border: 2px solid $b;
          height: 30px;
          font-size: 12px;
        }
        button{
          @include center(false, true);
          background: unset;
          border: none;
          right: 15px;
          i{
            color: $b
          }
        }
      }
    }
    .s-link{
      margin-bottom: 40px;
      a{
        display: inline-block;
        &:before{
          color: $b;
        }
      }
    }
    .logo-language{
      margin: 15px 70px 37px 25px;
      @include align-items(center);
      .logo{
        width: 58px;
      }
      .language{
        font-size: 16px;
        a{
          font-size: 16px;
          color: #1D1D1B;
          display: inline-block;
          &:hover {
                color: $b;
                text-decoration: none;
            }
        }
      }
    }
  }
  /* resp_menu_active
 ========================================================================== */
  .mobile_menu_active {
    overflow: hidden;
    &:before {
      background: rgba(0, 0, 0, .7);
      content: '';
      height: 100vh;
      margin: 0 auto;
      position: absolute;
      width: 100%;
      z-index: 100;
      @include transition(all, .2s, ease-in-out);
    }
    .burger {
      position: fixed;
      span {
        position: relative;
        z-index: 101;
      }
    }
    .mobile_menu_container {
      opacity: 1;
      @include transform (translateX(0));
    }
  }
  /* ==========================================================================
     global style
     ========================================================================== */
  .row {
    max-width: 94%;
    width: 100%;
  }
}
@media screen and (max-width: $md) {
}
@media screen and (max-width: $sm) {
}
@media screen and (max-width: 640px) {
}
@media screen and (max-width: $xs) {
}
@media screen and (max-width: 320px) {
}